/*roughly arranged in top-to-bottom order*/

header {
	height: 600px;
	background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(pictures/background1.jpg);
	background-size: 100%;
	margin-top: 0px;
	overflow: auto;
	font-family: Helvetica;
	color: white;
	text-align: center;
}

#name {
	font-size: 80px;
}

#blurb {
	font-size: 30px;
	margin-top: 350px;
}

nav {
	padding-top: 0px;
	padding-bottom: 10px;
	height: 50px;
	width: 100%;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}



ul {
	font-family: Helvetica;
	text-align: center;

}

li {
	border-style: solid;
	border-width: 2px;
	padding: 5px 5px 5px 5px;
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
}

/*relates back to script.js*/
.fixed {
    position: fixed;
}
