/*roughly arranged in top-to-bottom order*/

header {
	height: 100%;
	background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(../pictures/background1.jpg);
	background-size: 100%;
	overflow: auto;
	font-family: Helvetica;
	color: #EEE9E9;
	text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
	text-align: center;
}


#name {
	font-size: 30px;
	margin-top: 100px;
}

#boring_information {
	font-size: 36px;
}

#blurb {
	font-size: 80px;
}


nav {
	padding-top: 0px;
	padding-bottom: 10px;
	height: 50px;
	width: 100%;
	border-bottom: 2px solid #AFA99F;
	border-top: 2px solid #AFA99F;
	font-family: Helvetica;
	background-color: #D7E5F3;
	text-align: center;
}


li {
	border-style: solid;
	border-color: #687355;
	color: #687355;
	border-width: 2px;
	padding: 5px 5px 5px 5px;
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
}


.abouts {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


#about-me {
	height: 100%;
	background-color: #AFA99F;
	color: #fefbf7;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 30;
}


.about1 {
	padding-bottom: 50px;
}


/*related to the navbar script*/
.fixed {
    position: fixed;
}

#technology {
	text-align: center;
}

#technology img {
	width: 200px;
	height: 100px;
	margin-left: 0;
	padding-top: 50px;
	padding-left: 0;


}
