/*roughly arranged in top-to-bottom order*/

header {
	height: 100%;
	background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(../pictures/background1.jpg);
	background-size: 100%;
	overflow: auto;
	color: #EEE9E9;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
	text-align: center;
}

section {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #fefbf7;
}

.title {
	font-size: 40px;
	font-weight: bold;
}

#name {
	font-size: 30px;
	margin-top: 100px;
}

#boring_information {
	font-size: 36px;
}

#blurb {
	font-size: 80px;
}


nav {
	padding-top: 0px;
	padding-bottom: 10px;
	height: 50px;
	width: 100%;
	border-top: 1px solid #6F90A2;
	background-color: #6F90A2;
	font-family: 'Roboto';
	text-align: center;
	z-index: 5000;
}


li {
	border-style: solid;
	border-radius: 3px;
	border-color: #477187;
	background-color: #477187;
	color: #F0EAD6;
	border-width: 2px;
	padding: 6px 3px 3px 3px;
	list-style-type: none;
	display: inline-block;
	margin-right: 1px;
	margin-left: 1px;
	transition: border-left-width 0.2s ease;
	transition: border-right-width 0.2is ease;
}

li:hover {
	border-left-width: 5px;
	border-right-width: 5px;
}

/*related to the navbar script*/
.fixed {
    position: fixed;
}

.middle {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/* this vertically centers it >:D*/
}

#about-me {
	height: 105%;
	background-color: #FFFFFF;
	color: #032436;
	/*overwrite default font color*/
}

.aboutbig {
	font-size: 30px;
}

.about-principles {
	font-size: 17px;
}

#portfolio {
	height: 95%;
	background-color: #635192;
	font-size: 0px;
	color: #fefbf7;
}

.project {
	display: inline-block;
	position:relative;
	height: 200px;
	width: 400px;
	border-style: solid;
	border-radius: 3px;
	font-size: 40px;
	margin-right: 2px;
	margin-left: 2px;
}

.project img {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -30px;
}

#technology {
	height: 95%;
	background-color: #7B84AE;
	color: #fefbf7;
}

.tech-content {
	font-size: 17px;
}

#technology span {
	font-size: 17px;
	position:relative;
	z-index: 5;
}

#technology ul {
	padding-top: -3px;
	margin-top: -3px;
	font-size: 15px;
	z-index: 1;
}

#history {
	height: 95%;
	color: #fefbf7;
	background-color: #152C55;
}

.year {
	border-radius: 4px;
	border-color: #AA9439;
	background-color: #AA9439;
	color: #F0EAD6;
	font-size: 19px;
	border-width: 4px;
	padding: 4px 30px 4px 30px;
}

.year:hover {
	border-left-width: 7px;
	border-right-width: 7px;
}

.year-info {
	visibility: hidden;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

#personal {
	height: 95%;
	color: #EEE9E9;
	text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;

}

table {
	margin-left: auto;
	margin-right: auto;
}
tr {
	text-align: center;
}

.hobby {
	height: 100px;
}