header {
	height: 600px;
	background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(pictures/background1.jpg);
	background-size: 100%;
	margin-top: 0px;
	overflow: auto;
	font-family: Helvetica;
	color: white;
	text-align: center;

}

.headtext {
}

#name {
	font-size: 80px;
}

#blurb {
	font-size: 30px;
	margin-top: 350px;

}


/*#picture {
	height: 250px;
	width: 200px;
	border-radius: 50%;
	border: 5px solid white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: inline-block;
}*/

